wal2json plugin unavailabe

Please, answer some short questions which should help us to understand your problem/question better?

- **Which image of the operator are you using?** registry.opensource.zalan.do/acid/spilo-cdp-12:1.6-p16
- **Where do you run it - cloud or metal? Kubernetes or OpenShift?** EKS
- **Are you running Postgres Operator in production?** yes

I tried to connect with Postgres using KafkaConnector but it gave the following error `Failed to create logical replication slot wal2jsonlogicalslot plugin=wal2json`

what I get is that the image doesn't have the `wal2json` plugin installed. How can I use that feature?

```
apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: acid-geocoding-cluster
  namespace: patroni
#  labels:
#    environment: demo
spec:
  dockerImage: registry.opensource.zalan.do/acid/spilo-cdp-12:1.6-p16
  teamId: "acid"
  volume:
    size: 55Gi
#    storageClass: my-sc
  numberOfInstances: 3
  users:  # Application/Robot users
    geocoding:
    - superuser
    - createdb
  enableMasterLoadBalancer: false
  enableReplicaLoadBalancer: false
  enableConnectionPooler: false
  allowedSourceRanges: []  # load balancers' source ranges for both master and replica services
  
  databases:
    maps_geocoding: geocoding
  postgresql:
    version: "12"
    parameters: # Expert section
      wal_level: logical
      max_replication_slots: "10"
      max_wal_senders: "10"

  enableShmVolume: true
#  spiloFSGroup: 103
#  podAnnotations:
#    annotation.key: value
#  podPriorityClassName: "spilo-pod-priority"
#  tolerations:
#  - key: postgres
#    operator: Exists
#    effect: NoSchedule
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      cpu: 300m
      memory: 300Mi
  patroni:
    initdb:
      encoding: "UTF8"
      locale: "en_US.UTF-8"
      data-checksums: "true"
    pg_hba:
    - hostssl all all 0.0.0.0/0 md5
    - host    all all 0.0.0.0/0 md5
    slots:
     wal2jsonlogicalslot:
       type: logical
       database: maps_geocoding
       plugin: wal2json
    ttl: 30
    loop_wait: &loop_wait 10
    retry_timeout: 10
    maximum_lag_on_failover: 33554432

# restore a Postgres DB with point-in-time-recovery
# with a non-empty timestamp, clone from an S3 bucket using the latest backup before the timestamp
# with an empty/absent timestamp, clone from an existing alive cluster using pg_basebackup
#  clone:
#    uid: "efd12e58-5786-11e8-b5a7-06148230260c"
#    cluster: "acid-batman"
#    timestamp: "2017-12-19T12:40:33+01:00"  # timezone required (offset relative to UTC, see RFC 3339 section 5.6)
#    s3_wal_path: "s3://custom/path/to/bucket"

# run periodic backups with k8s cron jobs
#  enableLogicalBackup: true
#  logicalBackupSchedule: "30 00 * * *"

#  maintenanceWindows:
#  - 01:00-06:00  #UTC
#  - Sat:00:00-04:00

  initContainers:
  - name: date
    image: busybox
    command: [ "/bin/date" ]
#  sidecars:
#    - name: "telegraf-sidecar"
#      image: "telegraf:latest"
#      resources:
#        limits:
#          cpu: 500m
#          memory: 500Mi
#        requests:
#          cpu: 100m
#          memory: 100Mi
#      env:
#        - name: "USEFUL_VAR"
#          value: "perhaps-true"

```



I see that your already found help in the Spilo repo: https://github.com/zalando/spilo/issues/490

So, I'm closing this issue.